body {
  background-color: white;
  color: $dark-gray;
}

.splash {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;

  .container {
    text-align: center;

    h1 {
      font-weight: 200;
    }
  }
}
