html {
  background-color: white;
  height: 100vh;
  color: $dark-gray;
}

body {
  background: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#sound { 
  position: fixed;
  height: 30px;
  width: 30px;
  top: 2.3em;
  right: 2.5em;
  z-index: 10;
  cursor: pointer;
  transition: all .4s ease-in-out;
  transition: transform .2s ease;
  &.disabled {
    cursor: default;
    display:none;
  }
  img {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform .07s ease;
  }
  .black {
    opacity: .5;
  }
}

#sound:hover img {
  transform: scale(1.07);
}

#sound.muted {
  .white {
    opacity: 1;
  }
  .black {
    opacity: 0;
  }
}

section.splash {
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0 auto;
  padding: 0px;
  position: absolute !important;
  background: transparent;
  // background-image: url('../images/overlay-orig.png');
  // background-repeat: repeat;
  border: 1.7em solid white;
  .splash__text {
    background: transparent;
    text-transform: uppercase;
    color: white;
    transition: visibility .2s ease-in-out;
    padding: .5em;
    @include media($phone) {
      padding: 2em;
    }
    &>:not(.logo) {
      margin-left: 14px;
    }
    h2 {
      font-size: 3em;
      margin-bottom: 0;
    }
    h2.location {
      font-size: 1.7em;
    }
    img.logo {
      max-width: 12em;
    }
    ul.social {
      position: absolute;
      bottom: 1.5em;
    }
    .modal {
      color: black;
    }
  }
  video {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.splash-content.hidden {
  visibility: hidden;
}

.vjs-error-display {
  display: none !important;
}
